.dogsLink {
    text-align: center;
    color: #74BDCB;
}

.seeList {
    color: #FFA384;
}

h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #74BDCB;
}

ul {
  font-family: 'Bangers', cursive;
  display: table;
  margin: 0 auto;
}

.bulletPoint {
    color: #FFA384
}

h3{
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #FFA384
}

.apiImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}