<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    ${head}
   
</head>
<body>
    <div class="dogTails"></div>
    <h1>The Dogtails🐾</h1>
    <img class="dogInfo">
        <h3>Breed: ${dog.breed}</h3>
        <h3>Name: ${dog.name}</h3>
        <h3>Temperament: ${dog.temperament}</h3>
        ${image}
       
    </div>
</body>
</html>